*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.container{
    width: 98%;
    max-width: 1000px;
    height: 550px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* CONTAINER 1 (left side) */

.container__1{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #383838;
}

.container__1 > *{
    margin: 6px 0;
}

.container__brand{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
}

.container__contact{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container__contact > i{
    margin-right: 5px;
}

.container__p{
    font-size: 15px;
    color: rgb(161, 161, 161);
    margin-top: 20px;
}


/* CONTAINER 2 (right side) */
.container__2{
    grid-column: 3/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__title{
    font-size: 35px;
    margin: 10px;
}

.form{
    width: 100%;
    height: 100%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "name-ipt surname-ipt"
                         "email-ipt email-ipt"
                         "topic-ipt topic-ipt"
                         "message-ipt message-ipt"
                         "form__btn form__btn";
}

.name-ipt{
    grid-area: name-ipt;
}
.surname-ipt{
    grid-area: surname-ipt;
}
.email-ipt{
    grid-area: email-ipt;
}
.topic-ipt{
    grid-area: topic-ipt;
}
.message-ipt{
    grid-area: message-ipt;
}
.form__btn{
    grid-area: form__btn;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.form__span{
    color: #ff6600;
    font-size: 20px;
}

.form__input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.form__message{
    width: 100%;
    height: 60px;
    resize: none;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.form__btn{
    height: 50px;
    border: 2px solid gray;
    background: white;
    color: gray;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    transition: all .3s;
}

.form__btn:hover{
    background: gray;
    color: white;
}

@media screen and (max-width: 780px) {

    .container{
        width: 100%;
        max-width: 1000px;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .container__1{
        grid-column: 1/-1;
        order: 2;
    }
    .container__2{
        grid-column: 1/-1;
    }
}